* {
  max-width: 100%;
}

body{
  /* background-color: #fffffa; */
  background-color: #f5f5f5;
  margin: 0 auto;
}

.App {
  max-width: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  line-height: 1.5;
}

h1 {
  text-align: center;
  padding: 1%;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 2rem;
}

main {
  font-family: "Source Sans Pro",sans-serif;
  display: flex;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1600px;
}

.left-grid-and-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  padding: 1.5%;
}

.grid-card {
  background-color: #e28cf5;
  border-radius: 15px;
  padding: 0.2%;
  /* margin-top: 7%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: -45px;
  color: black;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: auto;
}

.row {
  display: flex;
}

.cell {
  width: 1rem;
  height: 1rem;
  background-color: #fffffa;
  border: 1px solid #011627;
  margin: 1px;
}

.alive {
  background: linear-gradient(to bottom, #f4c2ff, black );
}

.first-set-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2% 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: .4rem .4rem;
  margin: .7rem;
  font-size: 1.1rem;
  background-image: linear-gradient(45deg, #fff86e, #f5908c);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  color: black;
  width: 130px;
  border-radius: 7px;
}

button:hover {
  /* background-color: linear-gradient(#f5908c); */
  background-position: right;
}

button:disabled {
  background-image: linear-gradient(45deg, lightgrey, #f5908c);
  color: darkgrey;
}

.right-rules-and-presets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
  padding: 0 2%;
}

.right-rules-and-presets h2 {
  text-align: center;
} 

.rules-section {
  width: 72%;
  text-align: left;
  margin: 2% 0;
}

.rules-section p {
  width: 90%;
  /* margin: 5%; */
}

.side-by-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presets-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
  height: 100%;
}

.presets-section p {
  width: 70%;
  margin-top: -0.2rem;
  margin-bottom: 2.5rem;
}

.each-preset {
  cursor: pointer;
  border: 0;
  border-radius: 7px;
  padding: .4rem .4rem;
  margin: .5rem; 
  font-size: 1.5rem;
  background-image: linear-gradient(45deg, #fff86e, #f5908c);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  height: 40px;
  width: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-preset:hover {
  background-position: right;
}

.presets-list {
  /* background-color:#e28cf5; */
  border-radius: 7px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  margin-top: -2%;
}

.create-your-own {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  
  height: 100%;
}

.create-your-own p {
  width: 70%;
  margin-top: -0.2rem;
  margin-bottom: 2.5rem;
}

.create-your-own img {
  height: 150px;
  width: 150px;
}