@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App-header {
  background-image: linear-gradient(45deg, #f5908c, #fff86e,  #e28cf5);
  background-size: 350%;
  animation: bg-animation 20s infinite alternate;
  min-width: 100%;
  
  font-family: 'Arimo', sans-serif;
  font-size: calc(10px + 2vmin);
  color: black;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}